body {
  font-family: "Hind Vadodara","Helvetica Neue",Helvetica,sans-serif;
  color: #535353;
}
.red {
  color: red;
}
.google {
  width: 100%;
  margin: 5px;
  height: 35px;
  border-radius: 4px;
  background: #db3236;
  color: white;
  border: 0px transparent;
  text-align: center;
}
.google:hover {
  background:#db3236;
  opacity: 0.6;
}
.facebookBtn {
  width: 100%;
  height: 35px;
  border-radius: 4px;
  background: #3b5998;
  color: white;
  border: 0px transparent;
  text-align: center;
  margin: 5px;
  display: inline-block;
}

.facebook:hover {
  background: #3b5998;
  opacity: 0.6;
}
.alertBox{
  background-color: #F1DFC9   ;
  padding: 5px;
  border-radius: 5px;
}
